<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>MyApp</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/css/normalize.css">
        <link rel="stylesheet" href="/static/css/skeleton.css">
        <link rel="stylesheet" href="/static/css/style.css">

        <script src="/static/js/modernizr.js"></script>

        <!-- Optional apple-touch-icon
        <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
        <!-- Place favicon.ico in the root directory -->

        <!-- HTML5 boilerplate CSS 
        <link rel="stylesheet" href="/static/html5boilerplate/css/normalize.css">
        <link rel="stylesheet" href="/static/html5boilerplate/css/main.css">
        <script src="/static/html5boilerplate/js/modernizr-2.8.3.min.js"></script>-->

        <!-- Application specific CSS
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/app/app.css">-->
    </head>
    <body>
        <!-- Application specific HTML -->
        <div id="header-div" class="clearfix with-margins">
            <div class="pull-left"><a href="{{ url_for('home_page') }}"><span class="header-title">MyApp</span></a></div>
            <div class="pull-right">
                {% if current_user.is_authenticated() %}
                    <a href="{{ url_for('user_profile_page') }}">{{ current_user.first_name or current_user.user_auth.username }}</a>
                    &nbsp; | &nbsp;
                    <a href="{{ url_for('user.logout') }}">Sign out</a>
                {% else %}
                    <a href="{{ url_for('user.login') }}">Sign in</a>
                {% endif %}
            </div>
        </div>
        <div class="with-margins">
            <a href="{{ url_for('home_page') }}">Home</a>
            &nbsp; | &nbsp; <a href="{{ url_for('user_page') }}">User</a>
            &nbsp; | &nbsp; <a href="{{ url_for('admin_page') }}">Admin</a>
        </div>
        <hr class="no-margins"/>

        <div id="main-div" class="with-margins">
        {# One-time system messages called Flash messages #}
        {% block flash_messages %}
            {%- with messages = get_flashed_messages(with_categories=true) -%}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category=='error' %}
                            {% set category='danger' %}
                        {% endif %}
                        <div class="alert alert-{{category}}">{{ message|safe }}</div>
                    {% endfor %}
                {% endif %}
            {%- endwith %}
        {% endblock %}

        {% block main %}{% endblock %}
        </div>

        <br/>
        <hr class="no-margins"/>
        <div id="footer-div" class="clearfix with-margins">
            <div class="pull-left">MyApp v1.0</div>
            <div class="pull-right">&copy; 2014 MyCorp</div>
        </div>

        <!-- Application specific JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    </body>
</html>
